#g-nav{
  /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
  position:fixed;
  z-index: 999;
  /*ナビのスタート位置と形状*/
  bottom:-120%;
  left:0;
  width:100%;
  height: 100vh;/*ナビの高さ*/
  background:linear-gradient(rgb(186, 248, 225), rgb(103, 192, 215));
  /*動き*/
  transition: all 0.6s;
  /*追記*/
  overflow: hidden;
}

/*アクティブクラスがついたら位置を0に*/
#g-nav.panelactive{
  bottom: 0;
}


/*ナビゲーション*/
#g-nav ul {
  /*ナビゲーション天地中央揃え*/
  position: absolute;
  z-index: 999;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

/*リストのレイアウト設定*/

#g-nav li{
list-style: none;
  text-align: center; 
}

#g-nav li a{
color: #fff;
text-decoration: none;
padding:10px;
display: block;
text-transform: uppercase;
letter-spacing: 0.1em;
font-weight: bold;
/*追記*/
font-size: 1.5rem;
text-shadow: .5px .5px 2px rgba(0, 0, 0, 0.6);
}

/*========= ボタンのためのCSS ===============*/
.openbtn{
position:fixed;
  z-index: 999;/*ボタンを最前面に*/
top:10px;
right: 10px;
cursor: pointer;
  width: 5rem;
  height:5rem;
}

/*追記*/
@media (min-width: 1000px) {
  .openbtn{
    margin: 0 10vw;
    display: inline-block;
}}

/*×に変化*/	
.openbtn span{
  display: inline-block;
  transition: all .4s;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
background-color: #666;
  width: 45%;
}

.openbtn span:nth-of-type(1) {
top:15px;	
}

.openbtn span:nth-of-type(2) {
top:23px;
}

.openbtn span:nth-of-type(3) {
top:31px;
}

.openbtn.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}

.openbtn.active span:nth-of-type(2) {
opacity: 0;
}

.openbtn.active span:nth-of-type(3){
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}